@page "/{TableName}"
@model ReadTableModel
@{
    ViewData["Title"] = $"Просмотр таблицы {Model.TableName}";
    ViewData["Table"] = Model.TableName;
    ViewData["Type"] = "Read";
}

<h1>Таблица @Model.TableName</h1>
@if (@Model.Rows.Count != 0) {
    <form method="POST" class="sorting">
        <select name="orderColumn" required>
            <option disabled selected value="">-----</option>
            @foreach (var column in Model.Rows.First().GetColumns()) {
               @if (column.Key == Model.OrderColumn) {
                    <option value="@column.Key" selected>@column.Key</option>
               } else {
                    <option value="@column.Key">@column.Key</option>
               }
            }
        </select>
        <select name="orderDirection" required>
            <option disabled selected value="">-----</option>

            @if (Model.OrderDirection == "DESC") {
                <option value="DESC" selected>По убыванию</option>
            } else {
                <option value="DESC">По убыванию</option>
            }

            @if (Model.OrderDirection == "ASC") {
                <option value="ASC" selected>По возрастанию</option>
            } else {
                <option value="ASC">По возрастанию</option>
            }
        </select>
        <input type="submit" value="Сортировать" class="submitlink">
    </form>
}

<div id="content-main">
    <ul class="object-tools">
        <li>
            <a href="/@Model.TableName/create" class="addlink">
                Добавить
            </a>
        </li>
    </ul>
    <div class="changelist">
        <div class="changelist-form-container">
            @if (@Model.Rows.Count != 0) {
                <div class="results">
                    <table id="result_list">
                        <thead>
                            <tr>
                                @foreach (var column in Model.Rows.First().GetColumns()) {
                                    <th>
                                        <div class="text">@column.Key</div>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.Rows) {
                                <tr>
                                    @foreach (var column in row.GetColumns()) {
                                        if (column.Key == "id") {
                                            <th class="field">
                                                <a href="/@Model.TableName/@column.Value">@column.Value</a>
                                            </th>
                                        } else {
                                            <td class="field">@column.Value</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>

    <div class="pagination">
        @{
            int previousPage = Model.PageNum - 1;
            int nextPage = Model.PageNum + 1;
        }

        @if (Model.PageNum != 0) {
            <a href="?pageNum=@previousPage&OrderColumn=@Model.OrderColumn&OrderDirection=@Model.OrderDirection" class="submitlink">Предыдущая</a>
        }

        @if (ReadTableModel.ROWS_ON_PAGE * (Model.PageNum + 1) < Model.RowsCount) {
            <a href="?pageNum=@nextPage&OrderColumn=@Model.OrderColumn&OrderDirection=@Model.OrderDirection" class="submitlink">Следующая</a>
        }
    </div>
</div>